body {
    padding-top: 80px;
}
p{
    color: #000000;
}
.row9 {
    width: 60%;
    margin: auto;
}
#bfcontainer {
    height: 600px;
    align-content: center;
    background: linear-gradient(30deg, #ffffff, #a3a3a3);
    scroll-margin-top: 80px;
}
.fcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fcontainer1 {
    display: flex;
  
}
.fcontainer2 {
    display: flex;
    gap: 20px;
}
.h1name{
    color: #000000;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}
.h2name{
    color: #000000;
    font-size: 30px;
    margin: 0;

}
.pb {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}
p {
    font-size: 16px;
    margin: 0;
    margin-right: 20px;
}
.fa-html5{
    color: coral;
}
.fa-css3, .fa-react{
    color: aqua;
}
.fa-js{
    color:blue
}
.fa-github{
    color:#ffffff
}
.fa-html5, .fa-github, .fa-css3, .fa-react, .fa-js, .fa-file{
    margin: 0 10px;
}
.righthero img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.righthero img:hover{
    box-shadow: 0 20px 50px rgba(133, 0, 0, 0.2);
    transform: translateY(-20px);
    transition: box-shadow 0.5s ease, transform 0.5s ease;

}
.fa-code {
    animation: flash 1s infinite;
}
.linkbox{
    display: flex;
    gap: 10px;
}
.ghprofile{
    background: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
.linktext{
    font-size: 20px;

}
.fcbutton {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 3px solid rgb(193, 163, 98);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  background: #161616;
}

.bottom {
    grid-column: span 2;
}

.fcbutton::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 2s cubic-bezier(0.23, 1, 0.320, 1);
}

.fcbutton:hover::before {
  scale: 3;
}

.fcbutton:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.fcbutton:active {
  scale: 1;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 1080px) {
    .row9{width: 75%}
}
@media screen and (max-width: 980px) {
    #bfcontainer{height: 800px}
    
}
@media screen and (max-width: 680px) {
    #bfcontainer{height: 700px; flex-direction: column;justify-content: center}
    .righthero img{width: 200px;height: 200px;}
    .fcontainer1 {flex-direction: column; align-items: center;}
    p{margin-right: 0;}

}
@media screen and (max-width: 500px) {
    .fcontainer2{flex-direction: column;gap: 10px;}

}